body {
    background: #76ee9a;
    text-align: center;
  }
  
  label {
    color: rgb(0, 0, 0);
    font-size: 2em;
  }
  
  input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #ffffff;
  }
  
  input[type=submit] {
    width: 20%;
  }
  
  @media only screen and (min-width: 480px) {
    body {
      background-color: lightpink;
    }
    input {
      width: 70%;
    }
  }
  
  @media only screen and (min-width: 992px) {
    body {
      background-color: aquamarine;
    }
    input {
      width: 50%;
     } 
  }